<h3 align = 'center'><%= link_to 'Back to Home', root_path %></h3>

<h2 align = 'center'>Scenario: <%= @scenario.description%></h2>

<h3 align = 'center'>Comments:</h3>

<!--loop and show all of the comments for this scenario-->
<% @comments.each do |comment|%>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="comment-body">
                    <p><b><%=comment.user.username %>:</b> <%= comment.text %></p>
                    <div class="comment-meta-details">
                        <small><%= time_ago_in_words(comment.created_at) %> ago</small>
                    </div>
                </div>
                <% if logged_in? && current_user == comment.user %>
                    <div class="comment-actions right">
                        <%= link_to "Delete", comment_path(comment), method: :delete,
                                data: { confirm: "Are you sure you want to delete the comment?"},
                                class: "btn btn-xs btn-xlarge" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>    
<% end %> 

<h3 align = 'center'>New Comment:</h3>
<%= render 'comments/form' %>



